.header--container {
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(75, 75, 75, 1);
  top: 0;
  width: 100vw;
  height: 80px;
  position: fixed;
}

.nav--container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  overflow-x: auto;
}

.nav--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}

.nav--item {
  margin-left: 20px;
}

.item--no {
  color: rgba(75, 75, 75, 1);
}

.btn--container {
  margin-top: 30px;
}

.btn {
  width: fit-content;
  padding: 14px 15px;
  border: 1px solid rgba(75, 75, 75, 1);
  border-radius: 10px;
  transition: 0.2s ease;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}

.btn:hover {
  border: 1px solid rgba(175, 175, 175, 1);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(175, 175, 175, 1);
}

.social--container {
  position: fixed;
  bottom: 0;
  left: 25px;
  display: flex;
  flex-direction: column;
}

.social--container::after {
  content: "";
  width: 1px;
  height: 60px;
  margin: 25px auto 0 auto;
  background-color: rgba(75, 75, 75, 1);
}

.icon--styles {
  margin-top: 25px;
}

.email--container {
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 25px;
  display: flex;
  flex-direction: column;
  transform: translate(100px);
}

.email--container::after {
  content: "";
  width: 1px;
  height: 65px;
  margin: 10px auto 0 auto;
  background-color: rgba(75, 75, 75, 1);
}

.email--styles {
  color: rgba(175, 175, 175, 1);
  transform: rotate(90deg) translate(-125px);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}

.section--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 10%;
}

.center--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.support-text--styles {
  color: rgba(115, 115, 115, 1);
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 15px;
}

.heading-one--styles {
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
}

.heading-two--styles {
  color: rgba(175, 175, 175, 1);
  margin-top: 5px;
  font-size: 4.2rem;
}

.mono--styles {
  color: rgba(175, 175, 175, 1);
  font-family: 'Roboto Mono', monospace;
  font-size: 80%;
}

.heading-three--styles {
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 2.5rem;
}

.paragraph--styles {
  color: rgba(115, 115, 115, 1);
  max-width: 600px;
  margin-top: 35px;
  line-height: 25px;
}

.paragraph--styles p {
  margin-bottom: 15px;
}

.paragraph--styles p:last-child {
  margin-bottom: 0;
}

.list--styles {
  column-count: 2;
  column-gap: 0;
}

.list--styles li {
  display: flex;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
}

.list--styles li::marker {
  content: "";
}

@media only screen and (min-width : 1824px) {  
    
}

@media only screen and (min-width : 1224px) {

}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
  
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media (min-width: 480px) and (max-width: 768px) {

}

@media only screen   
and (min-width : 320px) and (max-width : 480px) {
  .social--container {
    display: none;
  }

  .email--container {
    display: none;
  }

  .support-text--styles {
    font-size: 0.8rem;
  }

  .heading-one--styles {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  .heading-two--styles {
    font-size: 2rem;
  }

  .heading-three--styles {
    font-size: 1.7rem;
  }
  
  .paragraph--styles {
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: 20px;
  }

  .list--styles li {
    font-size: 0.75rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {  
    
}